:root {
    --bg-color: #f2f4f7;
    --primary-color: #2aa416;
    --secondary-color: #ffffff;
    --text-color: #02590a;
    --primary-color-50: rgba(42, 164, 22, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 200ms;
}

html {
    color: var(--text-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color);
}

header {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

button {
    cursor: pointer;
    background-color: transparent;
}

.header-content {
    height: 48px;
    width: 100%;
    padding: 0 16px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.header-logo-space {
    height: 100%;
    font-weight: bolder;
    color: var(--primary-color);
}

.logo {
    height: 100%;
    width: auto;
    user-select: none;
}

.logo-image {
    height: 100%;
    width: auto;
}

.search-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: medium;
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    outline: none;
}

.search-button {
    height: 100%;
    padding: 0 16px;
    font-weight: bold;
    color: var(--primary-color);
}

.search-button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.header-buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    color: var(--primary-color);
}

.header-button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.language-container {
    position: relative;
    cursor: pointer;
}

.language-switcher {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: calc(100% + 4px);
    right: -2px;
    width: 48px;
    background: var(--secondary-color);
    z-index: 50;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* smooth fade */
}

.language-container:hover .language-switcher {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.language-container:not(:hover) .language-switcher {
    transition-delay: 200ms;
}

.language-button {
    font-weight: bolder;
    border: none;
    width: 100%;
    height: 24px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: var(--secondary-color);
    border-right: solid 2px var(--primary-color);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 50;
}

.sidebar-head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
}

.sidebar-logo > img {
    width: 32px;
    height: 32px;
}

.sidebar-logo,
.close-button {
    height: 48px;
    width: 48px;
    border: none;
    color: var(--primary-color);
    border-radius: 100%;
    padding: 8px;
}

.sidebar-logo:hover,
.close-button:hover {
    background-color: var(--bg-color);
}

.close-button > svg {
    width: 100%;
    height: 100%;
}

.sidebar-search {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
}

.navbar-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 8px 0;
}

.sidebar-button {
    padding: 8px 16px;
    gap: 8px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: var(--primary-color);
}

.sidebar-button:hover,
.sidebar-btn-active {
    padding-left: 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media (max-width: 1024px) {

    header {
        height: 64px;
    }

    .header-content {
        height: 36px;
        gap: 16px;
    }

    .logo {
        height: 35px;
    }

    .sidebar {
        display: flex;
    }

    .sidebar-active {
        transform: translateX(0);
    }

    .sidebar-hidden {
        transform: translateX(-100%);
    }

}

@media (max-width: 300px) {
    .sidebar {
        border-right: none;
    }

    .search-bar {
        flex-direction: column;
        gap: 8px;
        transition: none;
    }

    .sidebar-search {
        transition: none;
        height: auto;
    }

    .search-button,
    .search-input {
        height: 32px;
    }

    .search-input {
        transition: none;
    }

    .search-button {
        width: 100%;
        transition: none;
    }

    .logo {
        display: none;
    }
    
}
